:root {
  --main-section-bg: #ffb8ca;
  --headerBg: #ffb8ca7c;

  --second-section-bg: #ffffff;
  --third-section-bg: #fff5f6;
  --review-bg: #fafafa;
  --review-bg-clear: #fafafa00;

  --review-bg-lines: #e1e1e1;

  --font-color-one: rgba(255, 255, 255, 1);
  --font-color-two: rgba(212, 20, 67, 1);
  --font-color-three: #907e82;
  --font-color-four: #0000000;
  --font-color-five: #ffa5ba;

  --secton_side_padding: 20px;
  --secton_tablet_padding: 34px;
  --secton_desktop_padding: 100px;

  --animationDuration: 1s;
  --transitionDuration: 500ms;

  --btnShadow: 0px 4px 4px #00000040;
}

$mobile: '767px';
$tablet: '768px';
$desktop: '1200px';
