.contacts {
  background-color: var(--third-section-bg);
  padding-top: 0;
  padding-bottom: 40px;
  align-items: normal;
  row-gap: 45px;

  &__title {
    @media screen and (max-width: $mobile) {
      max-width: 234px;
    }

    & h2,
    & p {
      text-align: left;
      margin-bottom: 0;
    }
  }
}

// .contacts__social {
// }

.contacts__social ul {
  display: flex;
  flex-direction: row;
  column-gap: 28px;
  justify-content: flex-end;
  margin-bottom: 46px;

  & svg {
    fill: var(--font-color-five);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    &:hover,
    &:focus {
      fill: var(--font-color-two);

      box-shadow: 0px 0px 3px var(--font-color-three), 0px 0px 1px #ffffff;
    }
  }
}

// .contacts__contact {
//   display: flex;
//   justify-content: flex-end;
//   font-family: DM Sans;
//   font-weight: 700;
//   letter-spacing: 0em;
//   column-gap: 4px;
//   align-items: baseline;

//   font-family: DM Sans;
//   font-size: 12px;
//   line-height: 22px;

//   & a {
//     color: var(--font-color-two);
//   }
//   & a:hover,
//   & a:focus {
//     text-shadow: 0 0 3px #d4144300, 0px 0px 3px #fff, 0px 0px 5px #fff,
//       0px 0px 7px #fff, 0 0 1px var(--font-color-three);
//     transform: scale(1.05);
//     margin-left: 5px;
//     color: var(--font-color-five);
//   }
// }

.contacts__phone {
  letter-spacing: 0;
  justify-content: flex-end;
  align-items: baseline;
  column-gap: 4px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  display: flex;

  & a {
    color: var(--font-color-two);
    margin-left: 8px;
    &:focus,
    &:hover {
      text-shadow: 0 0 3px #d4144300, 0px 0px 3px #fff, 0px 0px 5px #fff,
        0px 0px 7px #fff, 0 0 1px var(--font-color-three);
      color: var(--font-color-five);
      transform: scale(1.05);
    }
  }
}
