header {
  width: 100vw;
  padding: 6px var(--secton_side_padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 105;
}

.header__logo {
  animation-name: heade__logo;
  animation-duration: var(--animationDuration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes heade__logo {
  0% {
    opacity: 0;
    // top: 500px;
    margin-left: -300px;
  }
  100% {
    opacity: 1;
    // top: 30px;
    margin-left: 0;
  }
}

.header__nav {
  display: none;
  column-gap: 35px;

  &-item a {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: var(--font-color-one);
  }
}

.header__btns {
  display: flex;
  column-gap: 30px;
}

.burger__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 1000ms;

  &:focus,
  &:hover {
    scale: 110%;
    rotate: 90deg;
  }

  & svg {
    width: 20px;
    height: 12px;
  }
}

.header__btn {
  width: 160px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;

  opacity: 0;

  & svg {
    width: 10px;
    height: 10px;
    stroke: var(--font-color-two);
  }

  &:focus,
  &:hover {
    & svg {
      stroke: var(--font-color-one);
    }
  }
}

.header__nav,
.burger__menu,
.header__btn {
  animation-name: burger__menu;
  animation-duration: var(--animationDuration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes burger__menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// adaptive layout
@media screen and (max-width: $mobile) {
  .header__btn {
    display: none;
  }
}
