<div class="modal" id="read-more">
  <div class="modal__content hero__content">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>

    <picture>
      <source
        srcset="./images/hero-milk.png 1x, ./images/hero-milk@2x.png 2x"
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="./images/hero-milk-tab.png 1x, ./images/hero-milk-tab@2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <img src="./images/hero-milk-tab.png" alt="milk" />
    </picture>
    <p>
      The milk used in our formula comes from cows raised on biodynamic farms in
      caring and appropriate environments. All our farms strictly adhere to
      international organic regulations. Grazing our cows on lush biodynamic
      fields and pastures is the reason for the superior quality of the milk.
    </p>
    <p class="lorem100"></p>
  </div>
</div>
