<div class="modal" id="buy-now">
  <div class="modal__content">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>

    <form class="modal__form">
      <input
        type="text"
        id="name"
        placeholder="Name"
        required
        class="modal__form-input"
      />
      <input
        type="email"
        id="email_id"
        placeholder="email"
        required
        class="modal__form-input"
      />
      <textarea
        type="text"
        id="message"
        placeholder="Write your comment here"
        class="modal__form-textarea"
        required
      ></textarea>
      <button class="btn form__btn">send</button>
    </form>
  </div>
</div>
