<div class="modal" id="how-modal">
  <div class="modal__content cow">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>
    <img src="./images/about-cow-mob.png" alt="cow & milk" />
    <p>
      AH, COWS. These black and white, grass-eating beasts that go "moo" are
      some of the funniest (and most adorable) animals. Just look at them —their
      tongues are long enough to reach their noses! Whether you're a dairy eater
      or not, you have to admit that they're pretty amusing.
    </p>
  </div>
</div>
