<div class="modal location__modal" id="location">
  <div class="modal__content location__content">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60553.86421070144!2d-70.02441267172262!3d18.455713000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea56202bf7d2577%3A0x7fd0e0894adb2fac!2sSnow%20Ice%20Cream%20Roll!5e0!3m2!1suk!2sua!4v1680184685278!5m2!1suk!2sua"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
