<div class="modal location__modal" id="location">
  <div class="modal__content location__content">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>

    <iframe
      src="https://www.google.com/maps/d/embed?mid=18SY5iAVwjFsvskKiqcqavK-735ldZPw&ehbc=2E312F"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
