<div class="modal" id="product-2">
  <div class="modal__content product__wpapper">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>
    <img src="images/products-second-mob.png" alt="ice cream" />

    <div class="discr__wrapper">
      <h4 class="product__name">ICE COFFEE</h4>
      <p class="product__description">
        Iced coffee is a coffee beverage served cold. It may be prepared either
        by brewing coffee normally (i.e. carafe, French press, etc.) and then
        serving it over ice or in cold milk, or by brewing the coffee cold. In
        hot brewing, sweeteners and flavoring may be added before cooling, as
        they dissolve faster. Iced coffee can also be sweetened with
        pre-dissolved sugar in water.
      </p>
    </div>
  </div>
</div>
