<div class="mobile__menu">
  <button class="mobile__menu-cross">
    <svg>
      <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>

  <button class="mobile__menu-butn btn" type="button" data-modal="buy-now">
    Buy now
    <svg>
      <use href="./images/symbol-defs.svg#icon-header-arrow"></use>
    </svg>
  </button>

  <ul class="mobile__menu-nav">
    <li>
      <a class="" href="#hero">Home</a>
    </li>

    <li>
      <a class="" href="#locations">About us</a>
    </li>

    <li>
      <a class="" href="#howItsMade">How it’s made?</a>
    </li>

    <li>
      <a class="" href="#products">Our products</a>
    </li>

    <li>
      <a class="" href="#contacts">Contact</a>
    </li>
  </ul>
</div>
