<section class="contacts" id="contacts">
  <div class="contacts__title">
    <h2 class="section__review">HOMEMADE ICE CREAM MADE</h2>
    <p class="section__title">WITH PASSION</p>
  </div>
  <div class="contacts__social">
    <ul>
      <li>
        <a href="https://github.com/NatalaBoiko">
          <svg>
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://web.telegram.org/">
          <svg>
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/">
          <svg>
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="contacts__phone">
      <p>Feel free to contact</p>
      <a href="tel:+380503738465">+38 050 373 84 65</a>
    </div>
  </div>
</section>
