<section class="contacts" id="contacts">
  <div class="contacts__title">
    <h2 class="section__review">HOMEMADE ICE CREAM MADE</h2>
    <p class="section__title">WITH PASSION</p>
  </div>
  <div class="contacts__social">
    <ul>
      <!-- <li>
        <a href="https://github.com/NatalaBoiko" target="_blank">
          <svg>
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li> -->
      <li>
        <a href="https://t.me/+380966058605" target="_blank">
          <svg>
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/webevery.dev/" target="_blank">
          <svg>
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="contacts__phone">
      <p>Feel free to contact</p>
      <a href="tel:+380966058605">+380 96 605 86 05</a>
    </div>
  </div>
</section>
