<header>
  <img
    class="header__logo"
    src="./images/header-logo.png"
    alt="logo"
    width="199"
  />

  <ul class="header__nav">
    <li class="header__nav-item">
      <a class="header__nav-linc" href="#hero">Home</a>
    </li>

    <li class="header__nav-item">
      <a class="header__nav-linc" href="#locations">About us</a>
    </li>

    <li class="header__nav-item">
      <a class="header__nav-linc" href="#howItsMade">How it’s made?</a>
    </li>

    <li class="header__nav-item">
      <a class="header__nav-linc" href="#products">Our products</a>
    </li>

    <li class="header__nav-item">
      <a class="header__nav-linc" href="#contacts">Contact</a>
    </li>
  </ul>

  <div class="header__btns">
    <button class="burger__button">
      <svg>
        <use href="./images/symbol-defs.svg#icon-Burger"></use>
      </svg>
    </button>
    <button class="header__btn btn" data-modal="buy-now">
      Buy now
      <svg>
        <use href="./images/symbol-defs.svg#icon-header-arrow"></use>
      </svg>
    </button>
  </div>
</header>
