<section class="hero__section" id="hero">
  <include src="./partials/burgerMenu.html"></include>
  <div class="hero__title-wrapper">
    <h1 class="section__title hero__title">
      ICE CREAM <br />
      MADE WITH <br />
      <span>PASSION</span>
    </h1>

    <ul class="hero__btns btns">
      <li class="btn hero__btn"><a href="#products">Products</a></li>
      <li class="btn hero__btn"><a href="#howItsMade">How it’s made?</a></li>
    </ul>
    <div class="hero__milk">
      <picture>
        <source
          srcset="./images/hero-milk.png 1x, ./images/hero-milk@2x.png 2x"
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero-milk-tab.png    1x,
            ./images/hero-milk-tab@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <img src="./images/hero-milk-tab.png" alt="milk" />
      </picture>
      <div class="hero__milk-descr">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="btn" data-modal="read-more">
          <svg class="product__btn-icon">
            <use href="images/symbol-defs.svg#icon-button-right-arrow2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <ul class="hero__stats">
    <li class="hero__stats-item section__title">16 <span>cafes</span></li>
    <li class="hero__stats-item section__title">23 <span>food trucks</span></li>
    <li class="hero__stats-item">
      <picture>
        <source
          srcset="
            ./images/hero-girl-tab.png    1x,
            ./images/hero-girl-tab@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <img src="./images/hero-girl-tab.png" alt="girl" />
      </picture>
    </li>
  </ul>

  <picture>
    <source
      srcset="./images/hero-icecream.png 1x, ./images/hero-icecream@2x.png 2x"
      media="(min-width: 1200px)"
      type="image/png"
    />

    <source
      srcset="
        ./images/hero-icecream-tab.png    1x,
        ./images/hero-icecream-tab@2x.png 2x
      "
      media="(min-width: 768px)"
      type="image/png"
    />

    <source
      srcset="
        ./images/hero-icecream-mob.png    1x,
        ./images/hero-icecream-mob@2x.png 2x
      "
      media="(max-width: 767px)"
      type="image/png"
    />
    <img
      class="hero__icecream"
      src="images/hero-icecream-mob.png"
      alt="ice cream"
    />
  </picture>
</section>
