<section class="location__section" id="locations">
  <h2 class="hidden__title">locations</h2>
  <ul>
    <li class="location__item">
      <h3 class="location__name">CAFE</h3>
      <div class="location__wrap">
        <p class="location__city">Chicago</p>
        <p class="location__descr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="location__wrap">
        <div>
          <p class="location__city">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <p class="location__city">Monday - Friday</p>
          <p class="location__time">08:00 AM - 10:00 PM</p>
        </div>
      </div>
      <div class="location__wrap">
        <a class="location__addr" href="tel:+380503738465">+38 050 373 84 65</a>
        <a class="location__addr" href="mailto:natalabojko@gmail.com"
          >natalabojko@gmail.com</a
        >
      </div>
    </li>

    <li class="location__item">
      <h3 class="location__name">FOODTRUCK</h3>
      <div class="location__wrap">
        <p class="location__city">Los Angeles</p>
        <p class="location__descr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="location__wrap">
        <div>
          <p class="location__city">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <p class="location__city">Monday - Friday</p>
          <p class="location__time">08:00 AM - 10:00 PM</p>
        </div>
      </div>
      <div class="location__wrap">
        <a class="location__addr" href="tel:+380503738465">+38 050 373 84 65</a>
        <a class="location__addr" href="mailto:natalabojko@gmail.com"
          >natalabojko@gmail.com</a
        >
      </div>
    </li>

    <li class="location__item">
      <h3 class="location__name">CAFE</h3>
      <div class="location__wrap">
        <p class="location__city">New York</p>
        <p class="location__descr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="location__wrap">
        <div>
          <p class="location__city">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <p class="location__city">Monday - Friday</p>
          <p class="location__time">08:00 AM - 10:00 PM</p>
        </div>
      </div>
      <div class="location__wrap">
        <a class="location__addr" href="tel:+380503738465">+38 050 373 84 65</a>
        <a class="location__addr" href="mailto:natalabojko@gmail.com"
          >natalabojko@gmail.com</a
        >
      </div>
    </li>
  </ul>
  <div class="location__btns">
    <button class="location__btn btn" data-modal="location">
      Our Locations
    </button>
    <button class="location__btn btn" data-modal="franchise-modal">
      Franchise
    </button>
  </div>
</section>
