<section class="products__section" id="products">
  <!-- <p class="section__review">100% NATURAL</p>
  <h2 class="section__title">PRODUCTS</h2> -->

  <p class="section__review">100% NATURAL</p>
  <h2 class="section__title">PRODUCTS</h2>

  <ul>
    <li class="product__vrapper">
      <img src="images/products-first-mob.png" alt="ice cream" />

      <h4 class="product__name">ICE CREAM</h4>
      <p class="product__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam,
        natus ea doloribus animi officia quaerat placeat? Nulla, odio officiis?
      </p>
      <button type="button" class="product__btn btn" data-modal="product-1">
        <svg class="product__btn-icon">
          <use href="images/symbol-defs.svg#icon-button-right-arrow2"></use>
        </svg>
      </button>
    </li>

    <li class="product__vrapper">
      <img src="images/products-second-mob.png" alt="ice cream" />

      <h4 class="product__name">ICE COFFEE</h4>
      <p class="product__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam,
        natus ea doloribus animi officia quaerat placeat? Nulla, odio officiis?
      </p>
      <button type="button" class="product__btn btn" data-modal="product-2">
        <svg class="product__btn-icon">
          <use href="images/symbol-defs.svg#icon-button-right-arrow2"></use>
        </svg>
      </button>
    </li>

    <li class="product__vrapper">
      <img src="images/products-third-mob.png" alt="ice cream" />

      <h4 class="product__name">MILKSHAKES</h4>
      <p class="product__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam,
        natus ea doloribus animi officia quaerat placeat? Nulla, odio officiis?
      </p>
      <button type="button" class="product__btn btn" data-modal="product-3">
        <svg class="product__btn-icon">
          <use href="images/symbol-defs.svg#icon-button-right-arrow2"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
