<section class="reviews swiper">
  <h2 class="hidden__title">Reviews</h2>

  <ul class="reviews__list swiper-wrapper">
    <li class="reviews__item swiper-slide">
      <img
        class="reviews__customer"
        srcset="
          images/customer-reviews-first.png    1x,
          images/customer-reviews-first@2x.png 2x
        "
        alt="customers photo"
        loading="lazy"
      />
      <div class="reviews__item-wrapper">
        <p class="reviews__descr">
          Best tasting ice cream out there. I will never get another ice cream
          again. The flavor is out rages and it has hard chocolate throughout
          the whole pint of ice cream. I bet you can’t eat just one.
        </p>
      </div>
      <img
        class="reviews__item-dots"
        src="./images/customer-reviews-ellipse.png"
        alt="customers photo"
        loading="lazy"
      />
      <p class="reviews__name">Emily, Los Angeles</p>
    </li>
    <li class="reviews__item swiper-slide">
      <img
        class="reviews__customer"
        srcset="
          images/customer-reviews-second.png    1x,
          images/customer-reviews-second@2x.png 2x
        "
        alt="customers photo"
        loading="lazy"
      />
      <div class="reviews__item-wrapper">
        <p class="reviews__descr">
          Lots of nice, thick chocolate - I could really care less about the ice
          cream, but the chocolate is divine. This stuff is outrageously
          fattening though. And very habit-forming, so beware!
        </p>
      </div>
      <img
        class="reviews__item-dots"
        src="./images/customer-reviews-ellipse.png"
        alt="customers photo"
        loading="lazy"
      />
      <p class="reviews__name">Emily, Los Angeles</p>
    </li>
    <li class="reviews__item swiper-slide">
      <img
        class="reviews__customer"
        srcset="
          images/customer-reviews-third.png    1x,
          images/customer-reviews-third@2x.png 2x
        "
        alt="customers photo"
        loading="lazy"
      />
      <div class="reviews__item-wrapper">
        <p class="reviews__descr">
          Probably the yummiest ice cream I've ever inhaled!! Very interesting
          idea to totally surround the ice cream with a hard chocolate shell. It
          gives you more time to come to your senses and not eat the whole pint
          in one sitting....
        </p>
      </div>
      <img
        class="reviews__item-dots"
        src="./images/customer-reviews-ellipse.png"
        alt="customers photo"
        loading="lazy"
      />
      <p class="reviews__name">Emily, Los Angeles</p>
    </li>
  </ul>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

  <div class="swiper-pagination"></div>
</section>

<!-- -->
