@media screen and (min-width: $tablet) {
  .contacts {
    padding-bottom: 90px;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      width: 340px;
    }
  }

  .contacts__social ul {
    margin-bottom: 50px;

    & svg {
      width: 34px;
      height: 34px;
    }
  }

  .contacts__phone {
    font-size: 14px;
  }
}
