@media screen and (min-width: $desktop) {
  .product__vrapper {
    width: 335px;
    padding-top: 127px;
    padding-bottom: 50px;
    margin-top: 210px;

    & img {
      width: 335px;
      margin-bottom: 38px;
      margin-top: -210px;
    }
  }

  .product__name {
    font-size: 30px;
    margin-bottom: 70px;

    &:after {
      content: url(../images/products-dots.png);
      display: block;
      position: absolute;
      top: 44px;
      left: 43%;
    }
  }

  .product__description {
    font-size: 16px;
    line-height: 28.16px;
    width: 241px;
    height: 106px;
    margin-bottom: 62px;
  }
}
