@media screen and (min-width: $desktop) {
  .reviews__item {
    &-wrapper {
      width: 926px;
      padding: 47px 54px 32px 86px;
      width: calc(100vw - 352px);
    }
  }

  .reviews__descr {
    font-size: 16px;
  }

  .reviews__name {
    font-size: 20px;
    line-height: 37.2px;
  }

  .swiper-button-prev {
    left: 120px;
  }

  .swiper-button-next {
    right: 120px;
  }
}
